.bg-animated {
    @apply opacity-100 dark:opacity-85;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
    transform: scale(1.1);
    overflow: hidden;
    border-radius: 2em;

    .bg-color,
    .bg-black {
        width: 100%;
        position: absolute;
        border-radius: 99999em;
        filter: blur(60px);
        z-index: 1;
        animation: rotate 50s linear infinite;
    }
    .bg-color {
        right: -25%;
        top: -5%;
    }
    .bg-black {
        left: -25%;
        bottom: -5%;
        animation-direction: reverse;
        animation-delay: 5s;
        mix-blend-mode: luminosity;
    }
}

.bg-fade-in {
    animation: fadeIn 1.5s forwards;
}

.bg-fade-out {
    animation: fadeOut 1.5s forwards;
}

@keyframes rotate{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes fadeIn {
    0% { opacity: 0 }
    100% {
        @apply opacity-100 dark:opacity-85;
    }
}

@keyframes fadeOut {
    0% {
        @apply opacity-100 dark:opacity-85;
    }
    100% { opacity: 0 }
}