@tailwind base;
@tailwind components;
@tailwind utilities;

.wora-border {
  @apply border border-white/10;
}

.wora-transition {
  @apply transition-all duration-300;
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.h-utility {
  height: calc(100vh - 13.6rem);
}
